<h1 style="text-align:center">About</h1>

<div style="width:35%; float:left;"><div style="width:150px; height: 250px; border-style:solid; margin-left: 150px;"></div></div>
<div style="width: 65%; float: right;"><p style="margin-right: 150px;">This is a paragraph that contains all this cool information about me and my life and everything else you want to know about me</p></div>
<footer><%= link_to 'Home', root_path %></footer>