<h1 style="text-align:center;">Home</h1>
<div style="min-height: 250px; border-style:solid;"></div>
<div style="width:50%; float: left; text-align: center"><h3> Left Side 1 </h3><p>This is a paragraph</p></div>
<div style="width:50%; float: right; text-align: center"><h3> Right Side 1 </h3><p>This is a paragraph!</p></div>
<footer style="text-align:center"> <%= link_to 'About', about_path %> </footer>